.box-text{
    font-weight: bold;
    font-style: italic;
    float: left;
}
.poda{
    border-radius: 2rem;
    height: 19rem;
}

.degree{
    float: left;
}
.total{
    padding-left: 2rem;
}
body{
    margin:0;
    padding-left:0;
}
.buttonl{
    background-color: bisque;
    border: solid 1px bisque;
    border-radius: 5px;
    padding:8px;
    text-decoration: none;
    color:red;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;

}
.buttonr{
    background-color: bisque;
    border: solid 1px bisque;
    border-radius: 5px;
    padding:8px;
    text-decoration: none;
    color:red;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
.buttonl:hover{
    background-color: burlywood;
    border:burlywood;
    color: red;
}
.buttonr:hover{
    background-color: burlywood;
    border:burlywood;
    color: red;
}

