.box-text{
    font-weight: bold;
    font-style: italic;
    float: left;
}
.poda{
    border-radius: 2rem;
    height: 19rem;
}

.degree{
    float: left;
}
.total{
    padding-left: 2rem;
}
body{
    margin:0;
    padding-left:0;
}
